@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen w-full text-gray-900 antialiased;
  }
}

body, header {
  background-image: url('../public/assets/bg.png');
}

.text-primary-500 {
  color: #fff;
}

.bg-primary-500\/8 {
  background-color: rgb(255 255 255 / 17%);
}

.hover\:bg-primary-500\/8:hover {
  background-color: rgb(255 255 255 / 17%) !important;
}

h4 {
  color: #fff;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #512da880;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / 57%);
}

/* input {
  background: transparent !important;
} */

.nav-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav-logo h1 {
  font-size: 1.3rem;
  color: #fff;
}

.bg-white-diag {
  opacity: 1;
  background-color: #000;
}